@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <p>Wypożyczalnia płyt winylowych. Zobacz dostępne płyty oraz swoje rezerwacje.</p>
</div>
<div class="text-center">
    <img class="img-rounded" height="600" src="https://m.media-amazon.com/images/I/71C4pOx-QRL._AC_SL1000_.jpg" />
</div>