@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <p>Wypożyczalnia płyt winylowych. Zobacz dostępne płyty oraz swoje rezerwacje.</p>
</div>
